/Tema 2/Ejemplo5Apuntes/build/
/Tema 2/Ejemplo5Apuntes/nbproject/private/
/Tema 2/EjemploHilosHerencia/build/
/Tema 2/EjemploHilosHerencia/nbproject/private/
/Tema 2/Ejercicio2T2PSP/build/
/Tema 2/Ejercicio2T2PSP/nbproject/private/
/Tema 2/Ejercicio3T2PSP/nbproject/private/
/Tema 2/Ejercicio7T2PSP/nbproject/private/
/Tema 2/Ejercicio7T2PSP/build/